/*RESET*/
*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a, 
a:visited, 
a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: inherit;
}

.m-container {
    width: 320px;
    position: fixed;
    overflow: auto;
    height: 100%;
    background-color: #fff;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    color: #1b1c21;
    font-family: "TTLakes", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}
/*Logo+Menu*/
.m-button {
    height: 40px;
}
.m-mob-menu {
    display: flex;
    align-items: center;
    height: 88px;
}
.m-mob-menu__logo {
    height: 51px;
}
.m-mob-menu__button {
    height: 40px;
    margin-left: 24px;
}
.m-mob-menu__button:first-of-type {
    margin-right: 17px;
}
.m-mob-menu__button:last-of-type {
    margin-left: 78px;
}

/*NAV*/
.m-nav__list {
    display: flex;
    flex-direction: column;
    overflow: auto; 
}
.m-nav__item {
    position: relative;
    margin-top: 32px;
    margin-left: 24px;
}
.m-nav__link {
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}
.m-nav__item:last-of-type {
    margin-bottom: 4px;
}
.m-nav__link:hover {
    color: #7E7E82;
}
.m-nav__link:hover::before {
    content: '';
    display: block;
    width: 4px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 0 3px 3px 0;
    background-color: #41F6D7;
    position: absolute;
    left: -24px;
    top: -4px;
}

/*FOOTER*/
.m-footer {
    padding: 24px;

}
.m-tablet-menu {
    display: flex;
}
.m-tablet-menu__button {
    margin-right: 16px;
}
.m-mail {
    margin-top: 16px;
}
.m-mail__text {
    color: #1B1C21;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.m-phone {
    margin-top: 12px;
}
.m-phone__text {
    color: #1B1C21;
    font-family: "TT Lakes", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.6px;
}
.m-lang {
    margin-top: 40px;
}
.m-lang_button {
    height: 24px;
    margin-right: 7px;
    color: #1B1C21;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: -0.2px;
}
.m-lang_button--active {
    color: #7E7E82;
}
/*HOVERS*/
.m-button {
    border-radius: 50%;
}
.m-button:hover {
    transform: scale(1.1) rotate(-360deg);
    transition-duration: 1s;
    box-shadow: 0 0 2px 3px #41F6D7; 
}
.m-lang_button:hover  {
    transform: scale(1.2);
    transition-duration: 1s;
    border-radius: 3px;
    background-color: #41F6D7;
    box-shadow: 0 0 5px 3px #41F6D7; 
}
.m-tablet-menu__button:first-of-type:hover {
    animation-name: bell;
    animation-duration: 0.3s;
}
/*ANIMATIONS*/
@keyframes bell {
    0% {
        transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(-30deg);
    }
    20% {
        transform: rotateZ(15deg);
    }
    30% {
        transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(7.5deg);
    }
    50% {
        transform: rotateZ(-5deg);
    }
    60% {
        transform: rotateZ(5deg);
    }
    70% {
        transform: rotateZ(-4deg);
    }
    80% {
        transform: rotateZ(3deg);
    }
    90% {
        transform: rotateZ(-3deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}